/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CLASSI GENERICHE */

.bgOrange {
    background-color: #ff6900;
}

.bgBlack {
    background-color: #1a1a1a; 
}

.flexbox {
    display: flex;
}

.fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
}

.fixedBottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* CLASSI ELEMENTI PAGINA */

header {
    height: 70px;
    padding-left: 260px;
    padding-right: 260px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#logo {
    width: 140px;
    height: 35px;
}

.fa-regular, .fa-solid {
    padding: 0.3em;
} 

main {
    flex-wrap: wrap;
    width: 1410px;
    margin: 70px auto 200px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productBox {
    flex-direction: column;
    width: 450px;
    height: 710px;
    margin-top: 50px;
}

.picture {
    width: 450px;
    height: 650px;
}

.brand {
    font-size: 14px;
    font-weight: 100;
}

.product {
    font-weight: bold;
}

.price {
    font-size: 14px;
    text-decoration: line-through;
}

.discount {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

footer {
    min-height: 110px;
}

