/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CLASSI GENERICHE */

.bgOrange {
    background-color: #ff6900;
}

.bgBlack {
    background-color: #1a1a1a; 
}

.flexbox {
    display: flex;
}

.fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
    z-index: 4;
}

.fixedBottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0; 
    z-index: 4;
}

.posRelative {
    position: relative;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

/* CLASSI ELEMENTI PAGINA */

header {
    height: 70px;
    padding-left: 260px;
    padding-right: 260px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#logo {
    width: 140px;
    height: 35px;
}

.fa-regular, .fa-solid {
    padding: 0.3em;
} 

main {
    flex-wrap: wrap;
    width: 1410px;
    margin: 70px auto 200px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productBox {
    flex-direction: column;
    width: 450px;
    height: 710px;
    margin-top: 50px;
}

.picture {
    width: 450px;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pictureB {
    width: 450px;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
}

.picture:hover {
    display: none;
}

.productInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.brand {
    font-size: 14px;
    font-weight: 100;
}

.product {
    margin-top: 3px;
    margin-bottom: 3px;
}

.price {
    font-size: 14px;
    text-decoration: line-through;
}

.discount {
    font-size: 14px;
    color: red;
}

.heart {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
}

.heart:hover {
    color: #ff0000;
    cursor: pointer;
}

.sales {
    width: 50px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: #ff0000;
    position: absolute;
    bottom: 100px;
    left: 0px;
    z-index: 2;
}

.sostenibilità {
    width: 100px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: #008000;
    position: absolute;
    bottom: 100px;
    left: 55px;
    z-index: 2;
}

footer {
    min-height: 110px;
    padding-left: 260px;
    padding-right: 260px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nameCompany {
    font-size: 18px;
    margin-bottom: 15px;
}

.fa-brands .fa-square-pinterest{
    color: white;
    margin: 10px;
    background-color: white;
}